<!-- About Section -->
<section class="primary-light" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Who we are</h2>
        <hr>
      </div>
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida, diam quis volutpat laoreet,
        magna ipsum eleifend orci, quis tristique neque sem ac purus. In hac habitasse platea dictumst. Nulla
        eget viverra mauris. Nullam placerat vulputate leo, ut vestibulum nisl viverra non. Suspendisse mattis
        mauris ullamcorper, semper ipsum ac, dictum purus.
      </p>
      <p>
        Duis fermentum gravida euismod. Aenean vestibulum
        ac malesuada varius. Ut egestas leo nibh, ut blandit massa consequat quis. Etiam gravida sapien feugiat,
        elementum ligula mattis, blandit nisl. Nunc eros libero, bibendum in nulla et, tempor hendrerit tellus.
        Ut fermentum condimentum metus sit amet viverra. Aenean malesuada libero purus, et pharetra neque laoreet
        a. In nec nisi lobortis, mattis est ut, vestibulum orci. Nunc ut mollis leo.
      </p>
    </div>
  </div>
</section>
