<section id="our-tutors" class="primary-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Our Tutors</h2>
        <hr>
        <p>
          Our tutors are amazing and here's why
          <ul>
            <li>An amazing reason</li>
            <li>Another amazing reason</li>
          </ul>
          Click on a tutor to view their profile and request their services.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="socket-container">
        <div id="socket"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center" id="become-a-tutor">
        <h3 class="tutor-sign-up">Interested in becoming a tutor?</h3>
        <p>Create an account with us, fill in your profile and we'll get in touch to arrange an interview!</p>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <a href="{{ site.tutorcruncher_url }}/signup/tutor/" class="btn btn-lg btn-outline">
            <i class="fa fa-graduation-cap"></i> Become a tutor
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
